@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

p {
    font-family: 'Dosis';
    font-style: normal;
}

.nav_bar_logo {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.header_first_inf
{
    color: white;
    font-weight: normal;
    font-weight: 500;
    font-size: 27px;
}

.nav_bar_info {

    color: white;
    font-weight: 400;
    font-size: 20px;
}

.header_second_inf
{
    color: white;
    font-weight: normal;
    font-weight: 300;
    font-size: 17px;
}

.card_logo {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    padding: 6px;
    margin-left: 20px;

    color: #272727;
}

.card_description {
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    padding: 10px;
    color: #272727;
}

.card_author {
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;

    padding: 10px;
    color: #272727;
}

.footer_info {
    padding: 10px;
    color: white;
}

.btn_text
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    font-weight: normal;
    font-weight: 300;
    font-size: 17px;
}
.btn_text:hover
{
    color: #272727;
}


.name-filtr{
    font-size: 25px;
}