header {
    display: flex;
    justify-content: center;
}

.wrapper-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin-top: 50px;
}

.wrapper-navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}