input {
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
}

button {
    border: 1px solid #FFFFFF;
    background-color: #272727;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    /* margin-top: 50px; */
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: 'Dosis';
    font-style: normal;
}

footer {
    margin-top: 40px;
    width: 1440px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #272727;
}

img {
    height: auto;
    width: 400px;
}

header {
    height: 800px;
    display: flex;
    justify-content: center;
}

a:hover {
    text-decoration: underline;
    color: #c1c1c1;
}

input:focus {
    background-color: #e4e4e4;
}

#background_img2 {
    width: 1440px;
    height: 800px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.227), rgba(0, 0, 0, 0.2)), url(../../common/images/quadri/green-wheat-fields-doroga-oblaka-vincent-van-gogh.jpg);
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}