@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');
textarea,
input,
p {
    font-family: 'Dosis';
    font-style: normal;
    margin: 0px;
}

.nav_bar_logo {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #1d1d1d;
}

.logo {
    color: white;
    font-weight: 600;
    font-size: 30px;
}


/* .btn_text:hover {
    color: #1d1d1d;
} */

.btn_confirm:hover {
    border: 1px solid #272727;
    background-color: #fff;
    color: #272727;
    cursor: pointer;
}

.btn_text:hover {
    color: #272727;
}

.navigation-menu-contactus {
    color: #1d1d1d;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
}

.navigation-menu {
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
}


/*  ----------------------------------------------------SLIDER------------------------------------------- */

.header_first_inf,
.slider-main-info {
    color: white;
    font-weight: normal;
    font-weight: 500;
    font-size: 27px;
}

.slider-secondary-info {
    color: white;
    font-weight: normal;
    font-weight: 300;
    font-size: 17px;
}


/*  ----------------------------------------------------CARDS------------------------------------------- */

.card_logo {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    padding: 6px;
    margin-left: 20px;
    color: #272727;
}


/*  ----------------------------------------------------CONTACTUS------------------------------------------- */

.btn_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    font-weight: normal;
    font-weight: 300;
    font-size: 17px;
}


/*  ----------------------------------------------------FOOTER------------------------------------------- */

.footer-info,
.footer_info {
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.card_logo_prenota {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    padding: 6px;
    margin-left: 20px;
    color: #ffffff;
}

.card_author_prenota,
.card_description_prenota {
    color: white;
}