body {
    margin: 0px;
    padding: 0px;
}


/* --------------------------------------------------IMG SLIDER-------------------------------------------------- */

.background-img1 {
    width: 1440px;
    height: 800px;
    background-size: cover;
    background-image: url('../images/quadri/field.jpg');
    display: flex;
    flex-direction: column;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background_img {
    height: 100vh;
    display: flex;
    align-items: center;
}


/* @media only screen and (min-width: 1400px) {
    .background-img1 {
        width: 1920px;
        height: 1080px;
    }
}
 */

.wrapper-slides-information {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper-header-bacground-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-dati {
    width: 300px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

button:hover {
    background: #FFFFFF;
    border: 2px solid #272727;
    color: #272727;
}