.card_description-prenota {
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    padding: 10px;
    color: white;
}

.btn_cancella {
    border: 1px solid #FFFFFF;
    background-color: #F45757;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.card_author-prenota {
    font-weight: 200;
    font-size: 16px;
    line-height: 27px;
    padding: 10px;
    color: white;
}

#background_img2-prenota {
    width: 1440px;
    height: 800px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../../common/img/quadri/vincent_van_gogh_wheat_field_with_cypresses_wheat_fields_120692_1920x1080.jpg);
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wrapper-privare-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.btn_cancella:hover {
    background-color: #ffffff;
    border: 1px solid #F45757;
}

.btn_confirm {
    margin: 0;
}

.card_logo_prenota {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    padding: 6px;
    margin-left: 20px;
    color: #ffffff;
}